<!-- Breadcum section -->
<section class="breadcum">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>About nHub Academy</h4>
                <div class="pages">
                    <a href="/">Home</a>
                    <span>&#47;</span>
                    <a href="/about">About</a>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="course_detail single-course">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <!-- title section -->
                <div class="sidebar-title-section">
                    <h2>About Us</h2>
                </div><!-- end -->
                <!-- description section -->
                <div class="description text-justify">
                    <p>nHub plays a leadership role in nurturing dialogue, disseminating knowledge and re-wiring the
                        ecosystem through
                        different community based efforts that are geared towards building a generation of new
                        entrepreneurs, software
                        developers and an army of skilled and employable young people matching industry needs in
                        priority sectors. <br> <br>

                        We believe technology is a catalyst for growth and that client satisfaction is driven by best
                        and timely services. <br>

                        We are focus on empowering entrepreneurs on their journey to build great ideas out of little or
                        nothing, we work with
                        Start-ups at every stage of maturity to provide the tools, resources, knowledge and expertise
                        they need to succeed. <br><br>

                        We help Start-ups scale their businesses, bring innovative services to the market and reach new
                        customers through our
                        connections. Our work span from conceiving ideas, trainings, incubation, collaboration and
                        creation of services.</p>
                </div><!-- end -->
                <!-- learning list section -->

                <!-- Share Section -->




            </div>
            <div class="col-md-4">
                <!-- coures reat -->
                <img class="single-course-img img-responsive" src="/img/popular_courses/gal2.JPG" alt=""
                    data-pagespeed-url-hash="28624607"
                    onload="pagespeed.CriticalImages.checkImageForCriticality(this);">



            </div>
        </div>
    </div>
</section>
</main>