<!-- Breadcum section -->
<section class="breadcum">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>All Courses</h4>
                <div class="pages">
                    <a href="/">Home</a>
                    <span>&#47;</span>
                    <a href="/allCourses">All Courses</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- courses_page -->
<section class="courses_page">
    <div class="container">
        <div id="products" class="row list-inline">
            <div class="item col-sm-12 col-md-6 col-lg-4">
                <div class="block-content">
                    <div class="courses-img">
                        <img src="/img/popular_courses/ximage01.jpg.pagespeed.ic.r7BZb4wIbP.jpg" alt=""
                            data-pagespeed-url-hash="3734592061"
                            onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                        <div class="courses-overlay">
                            <a href="/frontEndDevelopment">
                                <h6>More</h6>
                            </a>
                        </div>
                    </div>
                    <div class="content">
                        <!-- tag -->
                        <!-- end tag -->
                        <a href="/frontEndDevelopment">
                            <h6>Front-End Development</h6>
                        </a>
                        <div class="entry-meta">
                            <div class="author">
                                <p>By Jesse Yarakawa</p>
                            </div>
                            <div class="date">
                                <p>-</p>
                            </div>
                        </div>
                        <p class="description">-</p>
                    </div>
                </div>
            </div>
            <div class="item  col-sm-12 col-md-6 col-lg-4">
                <div class="block-content">
                    <div class="courses-img">
                        <img src="/img/popular_courses/ximage02.jpg.pagespeed.ic.6P-s0PsGro.jpg" alt=""
                            data-pagespeed-url-hash="4029091982"
                            onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                        <div class="courses-overlay">
                            <a href="/lampStack">
                                <h6>More</h6>
                            </a>
                        </div>
                    </div>
                    <div class="content">
                        <a href="/lampStack">
                            <h6>Lamp Stack<span class="label label-primary">NEW</span></h6>
                        </a>
                        <div class="entry-meta">
                            <div class="author">
                                <p>By Yemei Sax</p>
                            </div>
                            <div class="date">
                                <p>-</p>
                            </div>
                        </div>
                        <p class="description">-</p>
                    </div>
                </div>
            </div>
            <div class="item  col-sm-12 col-md-6 col-lg-4">
                <div class="block-content">
                    <div class="courses-img">
                        <img src="/img/popular_courses/ximage03.jpg.pagespeed.ic.lqbAzytZmi.jpg" alt=""
                            data-pagespeed-url-hash="28624607"
                            onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                        <div class="courses-overlay">
                            <a href="/introductionToProgramming">
                                <h6>More</h6>
                            </a>
                        </div>
                    </div>
                    <div class="content">
                        <a href="/introductionToProgramming">
                            <h6>Introduction to Programming</h6>
                        </a>
                        <div class="entry-meta">
                            <div class="author">
                                <p>By Jesse Yarakawa</p>
                            </div>
                            <div class="date">
                                <p>-</p>
                            </div>
                        </div>
                        <p class="description"></p>
                    </div>
                </div>
            </div>
            <div class="item  col-sm-12 col-md-6 col-lg-4">
                <div class="block-content">
                    <div class="courses-img">
                        <img src="/img/popular_courses/ximage01.jpg.pagespeed.ic.r7BZb4wIbP.jpg" alt=""
                            data-pagespeed-url-hash="28624607"
                            onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                        <div class="courses-overlay">
                            <a href="/djangoFramework">
                                <h6>More</h6>
                            </a>
                        </div>
                    </div>
                    <div class="content">
                        <a href="/djangoFrameWork">
                            <h6>Django Framework</h6>
                        </a>
                        <div class="entry-meta">
                            <div class="author">
                                <p>By Moses Madaki</p>
                            </div>
                            <div class="date">
                                <p>-</p>
                            </div>
                        </div>
                        <p class="description">-</p>
                    </div>
                </div>
            </div>
            <div class="item  col-sm-12 col-md-6 col-lg-4">
                <div class="block-content">
                    <div class="courses-img">
                        <img src="/img/popular_courses/ximage01.jpg.pagespeed.ic.r7BZb4wIbP.jpg" alt=""
                            data-pagespeed-url-hash="4029091982"
                            onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                        <div class="courses-overlay">
                            <a href="/nodeJs">
                                <h6>More</h6>
                            </a>
                        </div>
                    </div>
                    <div class="content">
                        <!-- tag -->
                        <!-- end tag -->
                        <a href="/nodejsFrameWork">
                            <h6>Node jS</h6>
                        </a>
                        <div class="entry-meta">
                            <div class="author">
                                <p>By Raymond Temtsen</p>
                            </div>
                            <div class="date">
                                <p>-</p>
                            </div>
                        </div>
                        <p class="description">-</p>
                    </div>
                </div>
            </div>
            <div class="item  col-sm-12 col-md-6 col-lg-4">
                <div class="block-content">
                    <div class="courses-img">
                        <img src="/img/popular_courses/ximage01.jpg.pagespeed.ic.r7BZb4wIbP.jpg" alt=""
                            data-pagespeed-url-hash="912124370"
                            onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                        <div class="courses-overlay">
                            <a href="/meanStack">
                                <h6>More</h6>
                            </a>
                        </div>
                    </div>
                    <div class="content">
                        <!-- tag -->
                        <!-- end tag -->
                        <a href="/meanStack">
                            <h6>Mean Stack</h6>
                        </a>
                        <div class="entry-meta">
                            <div class="author">
                                <p>By Raymond Temtsen </p>
                            </div>
                            <div class="date">
                                <p>-</p>
                            </div>
                        </div>
                        <p class="description">-</p>
                    </div>
                </div>
            </div>
            <div class="item  col-sm-12 col-md-6 col-lg-4">
                <div class="block-content">
                    <div class="courses-img">
                        <img src="/img/popular_courses/ximage01.jpg.pagespeed.ic.r7BZb4wIbP.jpg" alt=""
                            data-pagespeed-url-hash="1206624291"
                            onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                        <div class="courses-overlay">
                            <a href="/cyberSecurity">
                                <h6>More</h6>
                            </a>
                        </div>
                    </div>
                    <div class="content">
                        <!-- tag -->
                        <!-- end tag -->
                        <a href="/cyberSecurity">
                            <h6>Cyber Security</h6>
                        </a>
                        <div class="entry-meta">
                            <div class="author">
                                <p>By Moses Madaki</p>
                            </div>
                            <div class="date">
                                <p>-</p>
                            </div>
                        </div>
                        <p class="description">-</p>
                    </div>
                </div>
            </div>
            <div class="item  col-sm-12 col-md-6 col-lg-4">
                <div class="block-content">
                    <div class="courses-img">
                        <img src="/img/popular_courses/ximage01.jpg.pagespeed.ic.r7BZb4wIbP.jpg" alt=""
                            data-pagespeed-url-hash="1501124212"
                            onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                        <div class="courses-overlay">
                            <a href="/mobileAppDevelopment">
                                <h6>More</h6>
                            </a>
                        </div>
                    </div>
                    <div class="content">
                        <a href="/mobileAppDevelopment">
                            <h6>Mobile App Development</h6>
                        </a>
                        <div class="entry-meta">
                            <div class="author">
                                <p>By Moses Madaki</p>
                            </div>
                            <div class="date">
                                <p>-</p>
                            </div>
                        </div>
                        <p class="description">-</p>
                    </div>
                </div>
            </div>
            <div class="item  col-sm-12 col-md-6 col-lg-4">
                <div class="block-content">
                    <div class="courses-img">
                        <img src="/img/popular_courses/ximage01.jpg.pagespeed.ic.r7BZb4wIbP.jpg" alt=""
                            data-pagespeed-url-hash="4029091982"
                            onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                        <div class="courses-overlay">
                            <a href="/virtualReality">
                                <h6>More</h6>
                            </a>
                        </div>
                    </div>
                    <div class="content">
                        <a href="/virtualReality">
                            <h6>Virtual Reality(VR)</h6>
                        </a>
                        <div class="entry-meta">
                            <div class="author">
                                <p>By Raymond Temtsen</p>
                            </div>
                            <div class="date">
                                <p>-</p>
                            </div>
                        </div>
                        <p class="description">-</p>
                    </div>
                </div>
            </div>

            <!-- end about list -->
            <div class="col-md-12 courses_page_btn2">
                <nav>
                    <ul class="pagination">
                        <li><a href="#" aria-label="Previous"><span aria-hidden="true"><i
                                        class="fa fa-angle-left"></i></span></a></li>
                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>