<!-- Breadcum section -->
<section class="breadcum">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>Cyber Security</h4>
                <div class="pages">
                    <a href="/">Home</a>
                    <span>&#47;</span>
                    <a href="/">Courses</a>
                    <span>&#47;</span>
                    <a href="/cyberSecurity">Cyber Security</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- course_detail -->
<section class="course_detail">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <!-- title section -->
                <div class="sidebar-title-section">
                    <h2>Cyber Security</h2>
                </div><!-- end -->
                <!-- Single courses img section -->
                <div class="single-img">
                    <img class="img-responsive" src="/img/single_courses/a1.jpg" alt="">
                </div><!-- end -->
                <!-- description section -->
                <div class="description">
                    <h4>DESCRIPTION</h4>
                    <p>
                        Cyber security refers to the body of technologies, processes, and practices designed to protect
                        networks,
                        devices, programs, and data from attack, damage, or unauthorized access. Cyber security may also
                        be
                        referred to as information technology security.
                    </p>
                </div><!-- end -->
                <!-- learning list section -->
                <div class="learning-list">
                    <h4>What You'll Learn</h4>
                    <ul>
                        <li>
                            <p>
                                An advanced practical skillset in defeating all online threats - advanced hackers,
                                trackers
                                , malware and all Internet nastiness including mitigating government spying and mass
                                surveillance.
                            </p>
                        </li>
                        <li>
                            <p>Become a cyber security specialist.</p>
                        </li>
                        <li>
                            <p>The very latest up-to-date information and methods.</p>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <p>Explore the threat landscape - Darknets, dark markets, zero day vulnerabilities, exploit
                                kits, malware, phishing and much more.</p>
                        </li>
                        <!-- <li><p>rlkwogir</p></li>
							<li><p>Nam nec tellus a odio tincidunt auctort</p></li> -->
                    </ul>
                </div><!-- end -->
                <!-- Share Section -->
                <div class="share_section">
                    <div class="col-md-6">
                        <a href="/payment/cyberSecurity" target="_self" class="rex-bottom-medium rex-btn-icon">
                            <span class="rex-btn-text">Enroll now</span>
                            <span class="rex-btn-text-icon"><i class="fa fa-arrow-circle-o-right"></i></span>
                        </a>
                    </div>
                    <div class="col-md-6">
                       
                    </div>
                </div><!-- end -->
                <div class="clearfix"></div>


            </div>
            <div class="col-md-4">
                <!-- coures reat -->
                <div class="course-reating">
                    <a href="/payment/cyberSecurity" target="_self" class="rex-bottom-medium rex-btn-icon">
                        <span class="rex-btn-text">Take this course</span>
                        <span class="rex-btn-text-icon btn-text">N150,000.00</span>
                    </a>
                </div>
                <aside class="widget widget_archive coures-reat">
                    <ul>
                        <li><a href="#"><i class="fa fa-clock-o"></i>Length:</a>&nbsp; 2 months</li>
                        <li><a href="#"><i class="fa fa-briefcase"></i>Type:</a>&nbsp; Verified</li>
                        <li><a href="#"><i class="fa fa-tags"></i>Price:</a>&nbsp; N40,000</li>
                        <!-- <li><a href="#"><i class="fa fa-comments"></i>Languages:</a>&nbsp;English</li>
				            <li><a href="#"><i class="fa fa-video-camera"></i>Video :</a>&nbsp;English</li> -->
                    </ul>
                </aside>
                <!-- coures details -->
                <aside class="widget">
                    <h5>instructor</h5>
                    <div class="instructor-content instructor">
                        <div class="instruction-sidbar-img">
                            <img src="/img/Instructors/moses.jpg" alt="">
                        </div>
                        <div class="instruction-sidbar-title">
                            <h6>Moses Madaki</h6>
                            <span>Cyber Security Expert</span>
                        </div>
                        <div class="instructors-media-link">
                            <a data-toggle="tooltip" data-placement="top" title="Go facebook Profile"
                                href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                            <a data-toggle="tooltip" data-placement="top" title="Go twitter Profile"
                                href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                            <a data-toggle="tooltip" data-placement="top" title="Go facebook Profile"
                                href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a>
                            <a data-toggle="tooltip" data-placement="top" title="Go linkedin Profile"
                                href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </aside>
                <aside class="widget featured-section">
                    <h5>OTHER COURSES</h5>
                    <div class="instructor-content">
                        <!-- ><div class="instructor-img">
									<img src="../edurex/img/single_courses/xsidebar-img1.png.pagespeed.ic.yKf3Nj2mNk.png"
										alt="">
								</div>-->
                        <div class="instruction-sidbar-title">
                            <a href="/nodeJsFrameWork">
                                <h6>Nodejs</h6>
                            </a>
                            <span class="date">Starts: When Your're Ready</span>
                            <p>By Raymond Temtsen</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="instructor-content">
                      
                        <div class="instruction-sidbar-title">
                            <a href="/djangoFrameWork">
                                <h6>DJANGO Framework</h6>
                            </a>
                            <span class="date">Starts: When Your're Ready</span>
                            <p>By Yemi Sax</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="instructor-content">
                       
                        <div class="instruction-sidbar-title">
                            <a href="/mobileAppDevelopment">
                                <h6>Mobile Development</h6>
                            </a>
                            <span class="date">Starts: When Your're Ready</span>
                            <p>By Moses Madaki</p>
                        </div>
                    </div>
                </aside>

            </div>
        </div>
    </div>
</section>
</main>