<!-- Breadcum section -->
<section class="breadcum">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>DJANGO FRAMEWORK</h4>
                <div class="pages">
                    <a href="/">Home</a>
                    <span>&#47;</span>
                    <a href="/">Courses</a>
                    <span>&#47;</span>
                    <a href="/djangoFrameWork">Django Framework</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- course_detail -->
<section class="course_detail">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <!-- title section -->
                <div class="sidebar-title-section">
                    <h2>DJANGO FRAMEWORK</h2>
                </div><!-- end -->
                <!-- Single courses img section -->
                <div class="single-img">
                    <img class="img-responsive" src="/img/single_courses/django.jpg" alt="">
                </div><!-- end -->
                <!-- description section -->
                <div class="description">
                    <h4>DESCRIPTION</h4>
                    <p>Django is a high-level Python Web framework that encourages rapid development and clean,
                        pragmatic design. Built by experienced developers, it takes care of much of the hassle of Web
                        development, so you can focus on writing your app without needing to reinvent the wheel. It’s
                        free and open source.

                        Ridiculously fast.
                        Django was designed to help developers take applications from concept to completion as quickly
                        as possible.

                        Reassuringly secure.
                        Django takes security seriously and helps developers avoid many common security mistakes.

                        Exceedingly scalable.
                        Some of the busiest sites on the Web leverage Django’s ability to quickly and flexibly scale.

                    </p>
                </div><!-- end -->
                <!-- learning list section -->
                <div class="learning-list">
                    <h4>What You'll Learn</h4>
                    <ul>
                        <li>
                            <p>Object-relational mapper</p>
                        </li>
                        <li>
                            <p>Cryptographic signing</p>
                        </li>
                        <li>
                            <p>Security Middleware</p>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <p>Static files management</p>
                        </li>
                        <!-- <li><p>rlkwogir</p></li>
							<li><p>Nam nec tellus a odio tincidunt auctort</p></li> -->
                    </ul>
                </div><!-- end -->
                <!-- Share Section -->
                <div class="share_section">
                    <div class="col-md-6">
                        <a href="/payment/djangoFrameWork" target="_self" class="rex-bottom-medium rex-btn-icon">
                            <span class="rex-btn-text">Enroll now</span>
                            <span class="rex-btn-text-icon"><i class="fa fa-arrow-circle-o-right"></i></span>
                        </a>
                    </div>
                    <div class="col-md-6">
                       
                    </div>
                </div><!-- end -->
                <div class="clearfix"></div>


            </div>
            <div class="col-md-4">
                <!-- coures reat -->
                <div class="course-reating">
                    <a href="/payment/djangoFrameWork" target="_self" class="rex-bottom-medium rex-btn-icon">
                        <span class="rex-btn-text">Take this course</span>
                        <span class="rex-btn-text-icon btn-text">N60,000.00</span>
                    </a>
                </div>
                <aside class="widget widget_archive coures-reat">
                    <ul>
                        <li><a href="#"><i class="fa fa-clock-o"></i>Length:</a>&nbsp; 7 weeks</li>
                        <li><a href="#"><i class="fa fa-briefcase"></i>Type:</a>&nbsp; Verified</li>
                        <li><a href="#"><i class="fa fa-tags"></i>Price:</a>&nbsp; N60,000</li>
                    
                    </ul>
                </aside>
                <!-- coures details -->
                <aside class="widget">
                    <h5>instructor</h5>
                    <div class="instructor-content instructor">
                        <div class="instruction-sidbar-img">
                            <img src="/img/Instructors/yemi.jpg" alt="">
                        </div>
                        <div class="instruction-sidbar-title">
                            <h6>Yemi Sax</h6>
                            <span>Django + Reactjs Expert</span>
                        </div>
                        <div class="instructors-media-link">
                            <a data-toggle="tooltip" data-placement="top" title="Go facebook Profile"
                                href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                            <a data-toggle="tooltip" data-placement="top" title="Go twitter Profile"
                                href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                            <a data-toggle="tooltip" data-placement="top" title="Go facebook Profile"
                                href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a>
                            <a data-toggle="tooltip" data-placement="top" title="Go linkedin Profile"
                                href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </aside>
                <aside class="widget featured-section">
                    <h5>OTHER COURSES</h5>
                    <div class="instructor-content">
                        <div class="instructor-img">
                          
                        </div>
                        <div class="instruction-sidbar-title">
                            <a href="/lampStack">
                                <h6>Lamp stack</h6>
                            </a>
                           
                            <p>By Yemi Sax</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="instructor-content">
                       	
                        </div>
                        <div class="instruction-sidbar-title">
                            <a href="/FrontEndDevelopment">
                                <h6>Front-End Devolopment</h6>
                            </a>
                           
                            <p>By JESSE YARAKAWA</p>
                        </div>
                    </div>
                 
                    <div class="instructor-content">
                    
                    </div>
                </aside>

            </div>
        </div>
    </div>
</section>
</main>