<!-- Breadcum section -->
<section class="breadcum">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h4>Frequently Asked Questions</h4>
                <div class="pages">
                    <a href="/">Home</a>
                    <span>&#47;</span>
                    <a href="/faq">Frequently Asked Questions</a>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Breadcum section -->
<!-- faq_detail -->
<section class="faq_page">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 text-centered">
                <h3>How do I sign up as an intern?</h3>
                <p class="lead">
                    On the the navigation Bar you should hover over Courses
                    to the far right of the dropdown window you will be shown
                    an option to sign up as an intern. Goodluck!
                </p>
                <br>
                <h3>Can I pay for a course online?</h3>
                <p class="lead">
                    Yes you can! Just apply to sign up as a student
                    You will be directed to a page to select your course
                    Click the Enroll button and you will be taken to the payement page.
                </p>
                <br>
                <h3>What types of identification are required as an intern?</h3>
                <p class="lead">
                    if you pay online you should present either your:
                    -Passport
                    -National ID
                    -Student ID
                    or
                    -Drivers License
                    at our office to confirm your identity when you come in
                </p>
            </div>

        </div>
    </div>
</section>
</main>