<!-- About_Us html 
====================-->
<div class="backGround">
    <section>
        <div class="container-fluid">
            <div class="row" style="background-color: rgba(255, 253, 253, 0.959)">
                <div class="col-md-12 col-lg-6 p-5">
                    <!-- carousel start -->


                    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/img/DSC_9117.JPG" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="/img/victor.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="/img/DSC_9153.JPG" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="/img/DSC_9176.JPG" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>


                    <!-- carousel end -->

                </div>
                <div class="col-md-12 col-lg-5 about-content">
                    <h2>Learn at nHubAcademy</h2>
                    <p>Our Coding Academy is geared towards training young people towards building a digital
                        economy,<br> So
                        they can find jobs and lead vastly improved lives <br>
                    </p>
                    <!-- About list -->
                    <div class="col-md-12">
                        <div class="media hover-effect">
                            <div class="media-left">
                                <a href="#">
                                    <div class="icon-style">
                                        <i class="fa fa-desktop"></i>
                                    </div>
                                </a>
                            </div>
                            <div class="media-body">
                                <h5 class="media-heading">become a front-end developer in a month</h5>
                                <p>Our courses on front-end Development provides you with the best materials to be the
                                    best
                                    amon g your pairs</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="media hover-effect">
                            <div class="media-left">
                                <a href="#">
                                    <div class="icon-style">
                                        <i class="fa fa-film"></i>
                                    </div>
                                </a>
                            </div>
                            <div class="media-body">
                                <h5 class="media-heading">100+ VIDEO Lessons</h5>
                                <p>We have ready-made video lessons for all our courses, just to serve you with the best
                                    learning experience</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="media hover-effect">
                            <div class="media-left">
                                <a href="#">
                                    <div class="icon-style">
                                        <i class="fa fa-bookmark-o"></i>
                                    </div>
                                </a>
                            </div>
                            <div class="media-body">
                                <h5 class="media-heading">Trusted Certifications</h5>
                                <p>Certificates are served at the end of every course</p>
                            </div>
                        </div>
                    </div>
                    <!-- end about list -->
                    <!-- <div class="wow fadeIn animated" data-wow-duration="2s" data-wow-delay="2.5s"> -->
                    <a href="/about" target="_self" class="rex-bottom-medium rex-btn-icon">
                        <span class="rex-btn-text">About nHub Academy</span>
                        <span class="rex-btn-text-icon"><i class="fa fa-arrow-circle-o-right"></i></span>
                    </a>
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </section>
    <!-- popular_courses html 
====================-->
    <section class="popular_courses">
        <div class="container">
            <div class="row white-row">
                <div class="title-section col-md-12">
                    <h2>Popular Courses</h2>
                    <p>Starting Soon</p>
                </div>
                <div class="col-md-12">
                    <div id="popular_courses" class="owl-carousel">
                        <div>
                            <div class="col-md-12">
                                <div class="block-content">
                                    <div class="courses-img">
                                        <img class="img-responsive"
                                            src="/img/popular_courses/ximage01.jpg.pagespeed.ic.r7BZb4wIbP.jpg" alt="">
                                        <div class="courses-overlay">
                                            <h6>N40,000</h6>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <div class="tag">
                                            <i class="fa fa-bookmark"></i>
                                        </div>
                                        <a href="/introductionToProgramming">
                                            <h6>Introduction to programming</h6>
                                        </a>
                                        <div class="entry-meta">
                                            <div class="author">
                                                <p>By Jesse Yarakawa</p>
                                            </div>
                                            <div class="date">
                                                <p>Starts: Oct 11, 2019</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="col-md-12">
                                <div class="block-content">
                                    <div class="courses-img">
                                        <img class="img-responsive"
                                            src="/img/popular_courses/ximage02.jpg.pagespeed.ic.6P-s0PsGro.jpg" alt="">
                                        <div class="courses-overlay">
                                            <h6>N60,000</h6>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <a href="/nodeJsFrameWork">
                                            <h6>Nodejs<span class="label label-primary">NEW</span></h6>
                                        </a>
                                        <div class="entry-meta">
                                            <div class="author">
                                                <p>By Raymond Temtsen</p>
                                            </div>
                                            <div class="date">
                                                <p>Starts: Jan 12, 2020</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="col-md-12">
                                <div class="block-content">
                                    <div class="courses-img">
                                        <img class="img-responsive"
                                            src="/img/popular_courses/ximage03.jpg.pagespeed.ic.lqbAzytZmi.jpg" alt="">
                                        <div class="courses-overlay">
                                            <h6>40,000</h6>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <a href="/frontEndDevelopment">
                                            <h6>Front-End Development<span class="label label-primary">40,000</span>
                                            </h6>
                                        </a>
                                        <div class="entry-meta">
                                            <div class="author">
                                                <p>By Jesse Yarakawa</p>
                                            </div>
                                            <div class="date">
                                                <p>Starts: Nov 13, 2019</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Call To Action html 
====================-->
    <!-- Instructors html  --- Application body takes same class as Instructors
====================-->
    <section class="Instructors">
        <div class="container">
            <div class="row white-row">
                <div class="title-section col-lg-12">
                    <h2>Apply</h2>
                    <p>Join nHubAcademy</p>
                </div>
            </div>
            <div id="Instructors">
                <div class="col-md-6">
                    <div class="block-content">
                        {{!-- <img class="img-responsive" src="/img/Instructors/ximg1.jpg.pagespeed.ic.FfjSEAMkPl.jpg" alt=""> --}}
                        <div class="content">
                            <div class="content-title">
                                <a href="">

                                </a>
                                <span>
                                    <a href="/allCourses">
                                        <h4 class="nhub-color">Apply as private student</h4>
                                    </a>
                                </span>
                            </div>
                            <div class="content-text">
                                <p>Enroll for courses in nHubAcademy as private student</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="block-content">
                        {{!-- <img class="img-responsive" src="/img/Instructors/ximg2.jpg.pagespeed.ic.vBpyLXNY3R.JPG" alt=""> --}}
                        <div class="content">
                            <div class="content-title">
                                <a href="/">
                                    <h4></h4>
                                </a>
                                <span>
                                    <a href="/internshipApplication">
                                        <h4 class="nhub-color">Apply For Internship</h4>
                                    </a>
                                </span>
                            </div>
                            <div class="content-text">
                                <p>Gain access to internship courses at nHubAcademy</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</section>
<!-- Counter box html 
====================-->
<section class="Counter">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="counter-box">
                    <div class="icon-style">
                        <i class="fa fa-graduation-cap"></i>
                    </div>
                    <div class="content">
                        <div class="counter">100</div>
                        <span>+</span>
                        <h5>PASSED Students
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="counter-box">
                    <div class="icon-style">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <div class="content">
                        <div class="counter">100</div>
                        <span>+</span>
                        <h5>Meet Ups
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 Counter-last-child">
                <div class="counter-box">
                    <div class="icon-style">
                        <i class="fa fa-graduation-cap"></i>
                    </div>
                    <div class="content">
                        <div class="counter">300</div>
                        <span>+</span>
                        <h5>PASSED INTERNS
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- newsletter html 
====================-->
<section class="newsletter">
    <div class="container">
        <div class="row">
            <div class="newsletter-area col-lg-12">
                <div class="title-section">
                    <h2>STAY UPDATED WITH nHub Academy</h2>
                    <p>Get notified about new courses, events, news & more</p>
                </div>
                <div class="search-full-width">
                    <div class="row">
                        <form action="/subscribe" method="POST">

                            <input id="news-input" type="email" name="email"
                            placeholder="Enter your email" required>
                            <button class="rex-btn-icon search-btn" id="news-button" 
                                type="submit">
                                <span><i class="fa fa-arrow-right"></i></span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- partners.htm html 
=====================-->

<!-- slider start-->
<section id='partners' class="uk-section uk-text-center partners">
    <h2 class="uk-heading-primary uk-margin-medium-bottom">Our Partners</h2>
    <div class="uk-position-relative uk-visible-toggle uk-light partners"
        uk-slider="autoplay: true; autoplay-interval: 1500;pause-on-hover: true">
        <ul class="uk-slider-items uk-child-width-1-1 uk-child-width-1-3@s uk-child-width-1-4@m">
            <li>
                <div class="uk-panel partners">
                    <img src="/img/Arewa.jpg" alt="">
                </div>
            </li>
            <li>
                <div class="uk-panel partners">
                    <img src="/img/12.jpg" alt="">
                </div>
            </li>
            <li>
                <div class="uk-panel partners">
                    <img src="/img/hostcabal.jpeg" alt="">
                </div>
            </li>
            <li>
                <div class="uk-panel partners">
                    <img src="/img/broaddrive.jpeg" alt="">
                </div>
            </li>
            <li>
                <div class="uk-panel partners">
                    <img src="/img/2304.jpg" alt="">
                </div>
            </li>
            <li>
                <div class="uk-panel partners">
                    <img src="/img/METTA-LOGO.png" alt="">
                </div>
            </li>
            <li>
                <div class="uk-panel partners">
                    <img src="/img/Screen-Shot-2016-08-11-at-09.26.47.png" alt="">
                </div>
            </li>
            <li>
                <div class="uk-panel partners">
                    <img src="/img/one-percent-club.png" alt="">
                </div>
            </li>
            <li>
                <div class="uk-panel partners">
                    <img src="/img/nta-Jos.jpg" alt="">
                </div>
            </li>
            <li>
                <div class="uk-panel partners">
                    <img src="/img/logo-2.png" alt="">
                </div>
            </li>
        </ul>

        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous>

            uk-slider-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
            uk-slider-item="next"></a>

    </div>
</section>
</div>

<!-- slider end
    =================== -->