<section class="breadcum">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>Apply For Internship</h4>
                <div class="pages">
                    <a href="../index.html">Home</a>
                    <span>&#47;</span>
                    <a href="../index.html">Courses</a>
                    <span>&#47;</span>
                    <a href="../index.html">Apply For Internship</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- course_detail -->
<section class="course_detail">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- title section -->
                <div class="text-center">
                    <h2>Apply For Internship</h2>
                    <hr>
                </div><!-- end -->
                <!-- form section -->





                <form class="rex-forms" method="POST" action="/internshipApplication"enctype="multipart/form-data" >
                    <div class="form-group col-md-6">
                        <div class=""><label for="">First Name</label></div>
                        <input type="text" class="form-control" id="fast-name" placeholder="Your First Name"
                            name="firstName" required>
                    </div>
                    <div class="form-group col-md-6">
                        <div class=""><label for="">Last Name</label></div>

                        <input type="text" class="form-control" id="last-name" placeholder="Your Last Name"
                            name="lastName" required>
                    </div>
                    <div class="form-group col-md-6">
                        <div class=""><label for="">Email</label></div>

                        <input type="email" class="form-control" id="email-name" placeholder=" Enter E-mail"
                            name="email" required>
                    </div>
                    <div class="form-group col-md-6">
                        <div class=""><label for="">Institution</label></div>

                        <input type="text" class="form-control" id="institution" placeholder="Name of institution"
                            name="institution" required>
                    </div>
                    <div class="form-group col-md-6">
                        <div class=""><label for="">Starting Date</label></div>

                        <input type="date" class="form-control" id="date" placeholder="Starting Date"
                            name="startingDate" required>
                    </div>
                    <div class="form-group col-md-6">
                        <div class=""><label for="">Ending Date</label></div>

                        <input type="date" class="form-control" id="date" placeholder="Ending Date" name="endingDate"
                            required>
                    </div>
                    <div class="form-group col-md-6">
                        <div class=""><label for="">Application Letter</label></div>
                        <input type="file" class="form-control" id="institution" name="applicationLetter" required>
                    </div>
                    <div class="form-group col-md-6"></div>

                    <div class="col-md-6">
                        <button type="submit" class="rex-bottom-medium rex-btn-icon">
                            <span class="rex-btn-text">Submit</span>
                            <span class="rex-btn-text-icon"><i class="fa fa-arrow-circle-o-right"></i></span>
                        </button>
                    </div>
                </form>




                <!-- // form section -->



            </div>
        </div>
</section>
</main>