<!-- Breadcum section -->
<section class="breadcum">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>Lamp Stack Development</h4>
                <div class="pages">
                    <a href="/">Home</a>
                    <span>&#47;</span>
                    <a href="/">Courses</a>
                    <span>&#47;</span>
                    <a href="/lampStack">Lamp StackDevelopment</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- course_detail -->
<section class="course_detail">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <!-- title section -->
                <div class="sidebar-title-section">
                    <h2>Lamp Stack Development</h2>
                </div><!-- end -->
                <!-- Single courses img section -->
                <div class="single-img">
                    <img class="img-responsive" src="/img/single_courses/a2.jpg" alt="">
                </div><!-- end -->
                <!-- description section -->
                <div class="description">
                    <h4>DESCRIPTION</h4>
                    <p>There are many different job roles available to front-end developers. It’s an area that
                        offers growth opportunities and
                        salary security. But it’s also a useful set of skills to develop for personal use.
                        Whether you're looking to be a
                        professional developer or just want to pick it up for fun, learning front-end
                        programming will be time well-spent.</p>
                </div><!-- end -->
                <!-- learning list section -->
                <div class="learning-list">
                    <h4>What You'll Learn</h4>
                    <ul>
                        <li>
                            <p>HTML 5</p>
                        </li>
                        <li>
                            <p>CSS</p>
                        </li>
                        <li>
                            <p>Bootstrap 4</p>
                        </li>
                        <ul>
                            <li>
                                <p>Intoduction to Reactjs</p>
                            </li>

                </div><!-- end -->
                <!-- Share Section -->
                <div class="share_section">
                    <div class="col-md-6">
                        <a href="/payment/lampStack" target="_self" class="rex-bottom-medium rex-btn-icon">
                            <span class="rex-btn-text">Enroll now</span>
                            <span class="rex-btn-text-icon"><i class="fa fa-arrow-circle-o-right"></i></span>
                        </a>
                    </div>
                  
                </div><!-- end -->
                <div class="clearfix"></div>


            </div>
            <div class="col-md-4">
                <!-- coures reat -->
                <div class="course-reating">
                    <a href="/payment/lampStack" target="_self" class="rex-bottom-medium rex-btn-icon">
                        <span class="rex-btn-text">Take this course</span>
                        <span class="rex-btn-text-icon btn-text">N60,000.00</span>
                    </a>
                </div>
                <aside class="widget widget_archive coures-reat">
                    <ul>
                        <li><a href="#"><i class="fa fa-clock-o"></i>Length:</a>&nbsp; 8 weeks</li>
                        <li><a href="#"><i class="fa fa-briefcase"></i>Type:</a>&nbsp; Verified</li>
                        <li><a href="#"><i class="fa fa-tags"></i>Price:</a>&nbsp; N60,000</li>
                        <!-- <li><a href="#"><i class="fa fa-comments"></i>Languages:</a>&nbsp;English</li>
				            <li><a href="#"><i class="fa fa-video-camera"></i>Video :</a>&nbsp;English</li> -->
                    </ul>
                </aside>
                <!-- coures details -->
                <aside class="widget">
                    <h5>instructor</h5>
                    <div class="instructor-content instructor">
                        <div class="instruction-sidbar-img">
                            <img src="/img/Instructors/yemi.jpg" alt="">
                        </div>
                        <div class="instruction-sidbar-title">
                            <h6>Yemi Sax</h6>
                            <span>Lamp Stack Development</span>
                        </div>
                        <div class="instructors-media-link">
                            <a data-toggle="tooltip" data-placement="top" title="Go facebook Profile"
                                href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                            <a data-toggle="tooltip" data-placement="top" title="Go twitter Profile"
                                href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                            <a data-toggle="tooltip" data-placement="top" title="Go facebook Profile"
                                href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a>
                            <a data-toggle="tooltip" data-placement="top" title="Go linkedin Profile"
                                href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </aside>
                <aside class="widget featured-section">
                    <h5>OTHER COURSES</h5>
                    <div class="instructor-content">
                        <div class="instructor-img">
                            <img src="/img/hacker-2883632__340.jpg" alt="">
                        </div>
                        <div class="instruction-sidbar-title">
                            <a href="/cyberSecurity">
                                <h6>cyber security</h6>
                            </a>
                            
                            <p>By Moses Madaki</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="instructor-content">
                        
                        <div class="instruction-sidbar-title">
                            <a href="/djangoFrameWork">
                                <h6>django Framework</h6>
                            </a>
                            
                            <p>By Yemi Sax</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="instructor-content">
                        
                        <div class="instruction-sidbar-title">
                            <a href="/mobileAppDevelopment">
                                <h6>mobile app develpoment</h6>
                            </a>
                          
                            <p>By Moses Madaki</p>
                        </div>
                    </div>
                </aside>

            </div>
        </div>
    </div>
</section>
</main>