<!-- Breadcum section -->
<section class="breadcum">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>Mean.js Stack</h4>
                <div class="pages">
                    <a href="/">Home</a>
                    <span>&#47;</span>
                    <a href="/">Courses</a>
                    <span>&#47;</span>
                    <a href="/meanStack">Mean.js Stack</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- course_detail -->
<section class="course_detail">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <!-- title section -->
                <div class="sidebar-title-section">
                    <h2>MEAN.JS STACK</h2>
                </div><!-- end -->
                <!-- Single courses img section -->
                <div class="single-img">
                    <img class="img-responsive" src="/img/single_courses/meanjs2.jpg" style="height: 600px;"
                        alt="">
                </div><!-- end -->
                <!-- description section -->
                <div class="description">
                    <h4>DESCRIPTION</h4>
                    <p>Are you interested in taking your javascript skills to the next level? Then the
                        MEAN.JS Stack course is the one for you. MEAN.JS is a web development solution based
                        completely on fullstack JavaScript. The name is an acronym, standing for MongoDB,
                        Express, Angular, and Node.js.
                    </p>
                </div><!-- end -->
                <!-- learning list section -->
                <div class="learning-list">
                    <h4>What You'll Learn</h4>
                    <ul>
                        <li>
                            <p>MongoDB</p>
                        </li>
                        <li>
                            <p>AngularJS</p>
                        </li>
                        <li>
                            <p>Express</p>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <p>Node.js</p>
                        </li>
                        <!-- <li><p>rlkwogir</p></li>
							<li><p>Nam nec tellus a odio tincidunt auctort</p></li> -->
                    </ul>
                </div><!-- end -->
                <!-- Share Section -->
                <div class="share_section">
                    <div class="col-md-6">
                        <a href="/payment/meanStack" target="_self" class="rex-bottom-medium rex-btn-icon">
                            <span class="rex-btn-text">Enroll now</span>
                            <span class="rex-btn-text-icon"><i class="fa fa-arrow-circle-o-right"></i></span>
                        </a>
                    </div>
                    
                </div><!-- end -->
                <div class="clearfix"></div>


            </div>
            <div class="col-md-4">
                <!-- coures reat -->
                <div class="course-reating">
                    <a href="/payment/meanStack" target="_self" class="rex-bottom-medium rex-btn-icon">
                        <span class="rex-btn-text">Take this course</span>
                        <span class="rex-btn-text-icon btn-text">N120,000.00</span>
                    </a>
                </div>
                <aside class="widget widget_archive coures-reat">
                    <ul>
                        <li><a href="#"><i class="fa fa-clock-o"></i>Length:</a>&nbsp; 12 weeks</li>
                        <li><a href="#"><i class="fa fa-briefcase"></i>Type:</a>&nbsp; Verified</li>
                        <li><a href="#"><i class="fa fa-tags"></i>Price:</a>&nbsp; N120,000</li>
                        <!-- <li><a href="#"><i class="fa fa-comments"></i>Languages:</a>&nbsp;English</li>
				            <li><a href="#"><i class="fa fa-video-camera"></i>Video :</a>&nbsp;English</li> -->
                    </ul>
                </aside>
                <!-- coures details -->
                <aside class="widget">
                    <h5>instructor</h5>
                    <div class="instructor-content instructor">
                        <div class="instruction-sidbar-img">
                            <img src="/img/Instructors/razor.jpg" alt="">
                        </div>
                        <div class="instruction-sidbar-title">
                            <h6>Raymond temtsen</h6>
                            <span>Node.js  + Mean Stack Instructor</span>
                        </div>
                        <div class="instructors-media-link">
                            <a data-toggle="tooltip" data-placement="top" title="Go facebook Profile"
                                href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                            <a data-toggle="tooltip" data-placement="top" title="Go twitter Profile"
                                href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                            <a data-toggle="tooltip" data-placement="top" title="Go facebook Profile"
                                href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a>
                            <a data-toggle="tooltip" data-placement="top" title="Go linkedin Profile"
                                href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </aside>
                <aside class="widget featured-section">
                    <h5>OTHER COURSES</h5>
                    <div class="instructor-content">
                        <!-- <div class="instructor-img">
                  <img src="../edurex/img/Instructors/ximg4.jpg.pagespeed.ic.KsU3q2EXNC.jpg" alt="">
                </div> -->
                        <div class="instruction-sidbar-title">
                            <a href="/nodeJsFrameWork">
                                <h6>Nodejs</h6>
                            </a>
                            <span class="date">Starts: When Your're Ready</span>
                            <p>By Raymond Temtsen</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="instructor-content">
                        <!-- <div class="instructor-img">
                  <img src="../edurex/img/single_courses/xsidebar-img2.png.pagespeed.ic.jywRyFnN8R.png" alt="">
                </div> -->
                        <div class="instruction-sidbar-title">
                            <a href="/djangoFrameWork">
                                <h6>DJANGO Framework</h6>
                            </a>
                            <span class="date">Starts: When Your're Ready</span>
                            <p>By Yemi Sax</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="instructor-content">
                        <!-- <div class="instructor-img">
                  <img src="../edurex/img/single_courses/xsidebar-img3.png.pagespeed.ic.6H3BVWFqxC.png" alt="">
                </div> -->
                        <div class="instruction-sidbar-title">
                            <a href="/mobileDevelopment">
                                <h6>Mobile Development</h6>
                            </a>
                            <span class="date">Starts: When Your're Ready</span>
                            <p>By Moses Madaki</p>
                        </div>
                    </div>
                </aside>

            </div>
        </div>
    </div>
</section>
</main>