<!-- Breadcum section -->
<section class="breadcum">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>mobile app Development</h4>
                <div class="pages">
                    <a href="/">Home</a>
                    <span>&#47;</span>
                    <a href="/">Courses</a>
                    <span>&#47;</span>
                    <a href="/mobileAppDevelopment">mobile app Development</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- course_detail -->
<section class="course_detail">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <!-- title section -->
                <div class="sidebar-title-section">
                    <h2>mobile app Development</h2>
                </div><!-- end -->
                <!-- Single courses img section -->
                <div class="single-img">
                    <img class="img-responsive" src="/img/popular_courses/ximage03.jpg.pagespeed.ic.lqbAzytZmi.jpg" alt="../image/nelly1.jpg">
                </div><!-- end -->
                <!-- description section -->
                <div class="description">
                    <h4>DESCRIPTION</h4>
                    <p>This is the act or process by which a mobile application is developed for mobile
                        device,such as personal digital assistence ,or mobile phone.<br>The user is often the
                        focus of interaction with the device<br>Remember, the primary objective of any mobile
                        app is to provide users with a solution to a specific problem they collectively face. If
                        you don't have a solid understanding of how user behavior changes between OSs, you'll
                        find it difficult to develop an app that addresses the specific needs of your target
                        user group.</p>
                </div><!-- end -->
                <!-- learning list section -->
                <div class="learning-list">
                    <h4>What You'll Learn</h4>
                    <ul>
                        <li>
                            <p>HTML 5</p>
                        </li>
                        <li>
                            <p>CSS</p>
                        </li>
                        <li>
                            <p>javascript</p>
                        </li>

                        <li>
                            <p>Kotlin</p>
                        </li>
                        <li>
                            <p>Swit</p>
                        </li>


                    </ul>
                    <ul>
                        <li>
                            <p>Intoduction to Reactjs</p>
                        </li>
                        <!-- <li><p>rlkwogir</p></li>
							<li><p>Nam nec tellus a odio tincidunt auctort</p></li> -->
                    </ul>
                </div><!-- end -->
                <!-- Share Section -->
                <div class="share_section">
                    <div class="col-md-6">
                        <a href="/payment/mobileAppDevelopment" target="_self" class="rex-bottom-medium rex-btn-icon">
                            <span class="rex-btn-text">Enroll now</span>
                            <span class="rex-btn-text-icon"><i class="fa fa-arrow-circle-o-right"></i></span>
                        </a>
                    </div>
                 
                </div><!-- end -->
                <div class="clearfix"></div>


            </div>
            <div class="col-md-4">
                <!-- coures reat -->
                <div class="course-reating">
                    <a href="/payment/mobileAppDevelopment" target="_self" class="rex-bottom-medium rex-btn-icon">
                        <span class="rex-btn-text">Take this course</span>
                        <span class="rex-btn-text-icon btn-text">N100,000.00</span>
                    </a>
                </div>
                <aside class="widget widget_archive coures-reat">
                    <ul>
                        <li><a href="#"><i class="fa fa-clock-o"></i>Length:</a>&nbsp; 8 weeks</li>
                        <li><a href="#"><i class="fa fa-briefcase"></i>Type:</a>&nbsp; Verified</li>
                        <li><a href="#"><i class="fa fa-tags"></i>Price:</a>&nbsp; N100,000</li>

                    </ul>
                </aside>
                <!-- coures details -->
                <aside class="widget">
                    <h5>instructor</h5>
                    <div class="instructor-content instructor">
                        <div class="instruction-sidbar-img">
                            <img src="/img/Instructors/moses.jpg" alt="">
                        </div>
                        <div class="instruction-sidbar-title">
                            <h6>Moses madaki</h6>
                            <span>ReactJs Instructor</span>
                        </div>
                        <div class="instructors-media-link">
                            <a data-toggle="tooltip" data-placement="top" title="Go facebook Profile"
                                href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                            <a data-toggle="tooltip" data-placement="top" title="Go twitter Profile"
                                href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                            <a data-toggle="tooltip" data-placement="top" title="Go facebook Profile"
                                href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a>
                            <a data-toggle="tooltip" data-placement="top" title="Go linkedin Profile"
                                href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </aside>
                <aside class="widget featured-section">
                    <h5>OTHER COURSES</h5>
                    <div class="instructor-content">
                        <div class="instructor-img">
                            <img src="" alt="">
                        </div>
                        <div class="instruction-sidbar-title">
                            <a href="/meanStack">
                                <h6>Mean stack</h6>
                            </a>
                            <span class="date">when you are ready</span>
                            <p>By Raymond Temtsen</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="instructor-content">
                        
                        <div class="instruction-sidbar-title">
                            <a href="/nodeJsFrameWork">
                                <h6>Nodejs</h6>
                            </a>
                            <span class="date">when you are ready</span>
                            <p>By Raymond Temtsen</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="instructor-content">
                        <div class="instructor-img">
                            <img src="" alt="">
                        </div>
                        <div class="instruction-sidbar-title">
                            <a href="/virtualReality">
                                <h6>Virtual Reality</h6>
                            </a>
                            <span class="date">when you are ready</span>
                            <p>By Raymond Temtsen</p>
                        </div>
                    </div>
                </aside>

            </div>
        </div>
    </div>
</section>
</main>