<!-- Breadcum section -->
<section class="breadcum">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>VIRTUAL REALITY</h4>
                <div class="pages">
                    <a href="/">Home</a>
                    <span>&#47;</span>
                    <a href="/">Courses</a>
                    <span>&#47;</span>
                    <a href="/virtualReality">Virtual Reality</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- course_detail -->
<section class="course_detail">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <!-- title section -->
                <div class="sidebar-title-section">
                    <h2>VIRTUAL REALITY</h2>
                </div><!-- end -->
                <!-- Single courses img section -->
                <div class="single-img">
                    <img class="img-responsive" src="/img/single_courses/vr1.jpeg" alt="">
                </div><!-- end -->
                <!-- description section -->
                <div class="description">
                    <h4>DESCRIPTION</h4>
                    <p>Virtual Reality (VR) is the use of computer technology to create a simulated environment. Unlike
                        traditional user interfaces, VR places the user inside an experience. Instead of viewing a
                        screen in front of them, users are immersed and able to interact with 3D worlds. By simulating
                        as many senses as possible, such as vision, hearing, touch, even smell, the computer is
                        transformed into a gatekeeper to this artificial world. The only limits to near-real VR
                        experiences are the availability of content and cheap computing power.</p>
                </div><!-- end -->
                <!-- learning list section -->
                <div class="learning-list">
                    <h4>What You'll Learn</h4>
                    <ul>
                        <li>
                            <p>3D Modelling</p>
                        </li>
                        <li>
                            <p>3D Texturing</p>
                        </li>
                        <li>
                            <p>3D Animation</p>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <p>Introduction to Head-Mounted Display (HMD)</p>
                        </li>
                        <!-- <li><p>rlkwogir</p></li>
							<li><p>Nam nec tellus a odio tincidunt auctort</p></li> -->
                    </ul>
                </div><!-- end -->
                <!-- Share Section -->
                <div class="share_section">
                    <div class="col-md-6">
                        <a href="/payment/virtualReality" target="_self" class="rex-bottom-medium rex-btn-icon">
                            <span class="rex-btn-text">Enroll now</span>
                            <span class="rex-btn-text-icon"><i class="fa fa-arrow-circle-o-right"></i></span>
                        </a>
                    </div>
                   
                </div><!-- end -->
                <div class="clearfix"></div>


            </div>
            <div class="col-md-4">
                <!-- coures reat -->
                <div class="course-reating">
                    <a href="/payment/virtualReality" target="_self" class="rex-bottom-medium rex-btn-icon">
                        <span class="rex-btn-text">Take this course</span>
                        <span class="rex-btn-text-icon btn-text">N100,000.00</span>
                    </a>
                </div>
                <aside class="widget widget_archive coures-reat">
                    <ul>
                        <li><a href="#"><i class="fa fa-clock-o"></i>Length:</a>&nbsp; 10 weeks</li>
                        <li><a href="#"><i class="fa fa-briefcase"></i>Type:</a>&nbsp; Verified</li>
                        <li><a href="#"><i class="fa fa-tags"></i>Price:</a>&nbsp; N100,000</li>
                        <!-- <li><a href="#"><i class="fa fa-comments"></i>Languages:</a>&nbsp;English</li>
				            <li><a href="#"><i class="fa fa-video-camera"></i>Video :</a>&nbsp;English</li> -->
                    </ul>
                </aside>
                <!-- coures details -->
                <aside class="widget">
                    <h5>instructor</h5>
                    <div class="instructor-content instructor">
                        <div class="instruction-sidbar-img">
                            <img src="/img/Instructors/razor.jpg" alt="">
                        </div>
                        <div class="instruction-sidbar-title">
                            <h6>Raymond Temtsen</h6>
                            <span>3D Modelling/Animation Expert</span>
                        </div>
                        <div class="instructors-media-link">
                            <a data-toggle="tooltip" data-placement="top" title="Go facebook Profile"
                                href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                            <a data-toggle="tooltip" data-placement="top" title="Go twitter Profile"
                                href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                            <a data-toggle="tooltip" data-placement="top" title="Go facebook Profile"
                                href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a>
                            <a data-toggle="tooltip" data-placement="top" title="Go linkedin Profile"
                                href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </aside>
                <aside class="widget featured-section">
                    <h5>OTHER COURSES</h5>
                    <div class="instructor-content">
                        <div class="instructor-img">
                            <!--	<img src="../edurex/img/single_courses/xsidebar-img1.png.pagespeed.ic.yKf3Nj2mNk.png"
										alt="">-->
                        </div>
                        <div class="instruction-sidbar-title">
                            <a href="/introductionToProgramming">
                                <h6>Introduction To Programing</h6>
                            </a>
                            <span class="date">Starts: Jan 11, 2020</span>
                            <p>By Jesse Yarkawa</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="instructor-content">
                        <div class="instructor-img">
                            <!--<img src="../edurex/img/single_courses/xsidebar-img2.png.pagespeed.ic.jywRyFnN8R.png"
										alt="">-->
                        </div>
                        <div class="instruction-sidbar-title">
                            <a href="/nodeJsFrameWork">
                                <h6>NodeJS FrameWork</h6>
                            </a>
                            <span class="date">Starts: Jan 11, 2020</span>
                            <p>By Raymond Temtsen</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="instructor-content">
                        <div class="instructor-img">
                            <!--	<img src="../edurex/img/single_courses/xsidebar-img3.png.pagespeed.ic.6H3BVWFqxC.png"
										alt="">-->
                        </div>
                        <div class="instruction-sidbar-title">
                            <a href="/djangoFrameWork">
                                <h6>Django Framework</h6>
                            </a>
                            <span class="date">Starts: Jan 11, 2020</span>
                            <p>By Yemi Sax</p>
                        </div>
                    </div>
                </aside>

            </div>
        </div>
    </div>
</section>
</main>
<!-- footer section