<!-- PAGE CONTAINER-->
<div class="page-container2">
    <!-- MAIN CONTENT -->
    <div class="main-content" style="overflow: scroll">
        {{!-- <div class="section__content section__content--p30"> --}}
        {{!-- <div class="container-fluid"> --}}
        {{!-- <div class="row"> --}}

        <div class="container">
            {{>default/messages}}
            {{!-- table here --}}
            <h3>ALL STUDENTS</h3>
            <table class="table table-bordered">
                <thead class="bg-dark text-center">
                    <tr class="text-white">
                        <th>Name</th>
                        <th>Intern Id</th>
                        <th>Email</th>

                    </tr>
                </thead>
                <tbody class="text-center">
                    {{#each students}}
                    <tr>

                        <td>{{fullName}}</td>
                        <td>{{studentId}}</td>
                        <td>{{email}}</td>

                    </tr>
                    {{/each}}

                </tbody>
            </table>
            {{!-- table Ends --}}
        </div>