<div class="container" id="registration">
    <div class="row">
        <div class="container">
            <div class="row">
               
                <h1 class="display-2 text-center col-10"> <img class=" img-responsive float-left"src="/img/tick.png" alt="" id="img_success">Payment Successful!</h1>
                <hr>
            </div>
            


        <div class="jumbotron text-xs-center">
  <h1 class="display-md-3 text-center">Thank You!</h1>
  <p class="lead text-center"><strong>{{pay.full_name}}</strong> your payment of <strong>NGN {{payAmount}} </strong> was successful</p>
  <p class="lead text-center"><strong>Please check your email</strong> for further instructions</p>
  <hr>
  <div class="row col-6" id="btn-container">
    <button class="btn btn-primary btn-lg " type="button" id="btn_success"><a href="/">Return to Homepage</a> </button>
  </div>
</div>
  