<!-- MENU SIDEBAR-->
<aside class="menu-sidebar2">
    <div class="logo">
        <a href="/">
            <img src="/img/favicon.png" alt="logo" />
        </a>
    </div>
    <div class="menu-sidebar2__content js-scrollbar1">
        <div class="account2">
            <div class="image img-cir img-120">
                <img src="{{admin.profilePicture}}" alt="pp" />
            </div>
            <h4 class="name">{{fullName}}</h4>
            <a href="/admin/logout">Sign out</a>
        </div>
        <nav class="navbar-sidebar2">
            <ul class="list-unstyled navbar__list">
                <li class="active has-sub">
                    <a class="js-arrow" href="/admin/dashboard">
                        <i class="fas fa-tachometer-alt"></i>Dashboard

                    </a>
                    <a class="js-arrow" href="/admin/profile">
                        <i class="fas fa-user"></i>Profile
                    
                    </a>
                </li>
                <li class="active has-sub">
                    <a class="js-arrow" href="/admin/internshipApplications">
                        <i class="far fa-address-book"></i>Internship Applications

                    </a>
                </li>
                <li class="active has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-eye"></i>View Records
                        <span class="arrow">
                            <i class="fas fa-angle-down"></i>
                        </span>
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="/admin/allInterns">
                                <i class="far fa-address-book"></i>Interns</a>
                        </li>
                        <li>
                            <a href="/admin/allStudents">
                                <i class="far fa-address-book"></i>Students</a>
                        </li>
                
                    </ul>
                </li>
                <li class="active has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-list"></i>Attendance
                <span class="arrow">
                    <i class="fas fa-angle-down"></i>
                </span>
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="/admin/internSignIn">
                                <i class="far fa-address-book"></i>Intern's Sign In</a>
                        </li>
                        <li>
                            <a href="/admin/internSignOut">
                            <i class="far fa-address-book"></i>Intern's Sign Out</a>
                        </li>
                        <li>
                            <a href="/admin/studentSignIn">
                            <i class="far fa-address-book"></i>Student's Sign In</a>
                        </li>
                        <li>
                            <a href="/admin/studentSignOut">
                                <i class="far fa-address-book"></i>Student's Sign Out</a>
                        </li>
                    </ul>
                





                </li>
                <li class="active has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-address-book"></i>Exeat Requests
                        <span class="arrow">
                            <i class="fas fa-angle-down"></i>
                        </span>
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="/admin/internExeat">
                                <i class="far fa-address-book"></i>Interns</a>
                        </li>
                        <li>
                            <a href="/admin/studentExeat">
                                <i class="far fa-address-book"></i>Students</a>
                        </li>
                        
                    </ul>
                </li>
                <li class="active has-sub">
                    <a class="js-arrow" href="/forgotPassword">
                        <i class="fas fa-sign-out-alt"></i>Change Password
                
                    </a>
                
                </li>
                <li class="active has-sub">
                    <a class="js-arrow" href="/admin/logout">
                        <i class="fas fa-sign-out-alt"></i>Log Out

                    </a>

                </li>



            </ul>
        </nav>
    </div>
</aside>
<!-- END MENU SIDEBAR-->